{% extends "base.html" %}

{% block title %}Przeglądaj zgłoszenia - {% endblock %}

{% block content %}
    <form action="/browse" method="get" id="search-form">

        <div class="w3-bar">
            <input class="w3-bar-item w3-input w3-border w3-border-dark-grey w3-padding w3-round w3-light-grey w3-margin-right" type="text" value="{{ fields["name"] }}" placeholder="Szukaj odmóżdżaczy..." name="name" style="width:60%">
            <button class="w3-bar-item w3-button w3-round w3-border w3-border-dark-grey w3-text-black w3-light-grey" onclick="submit_form()"><i class="fa fa-search"></i><span class="w3-padding">Szukaj</span></button>
        </div>

        <br>

        <div class="w3-bar">
            <select class="w3-bar-item w3-margin-right w3-select w3-round w3-border w3-border-dark-grey" name="category" onchange="submit_form()">
                <option value="" {% if fields["category_id"] == "" %}selected{% endif %}>Wszystkie kategorie</option>
                {% for category in categories %}
                    <option value="{{ category['id'] }}" {% if fields["category_id"] == category['id'] %}selected{% endif %}>{{ category["name"] }}</option>
                {% endfor %}
            </select>

            <div class="w3-bar-item w3-container">
                <input class="w3-radio" onclick="submit_form()" id="verified-radio" type="radio" name="verified" value="verified" {% if fields["verified"] == true%}checked{% endif %}>
                <label class="w3-margin-right" onclick="document.getElementById('verified-radio').checked = true; submit_form()">Zweryfikowane</label>
            </div>

            <div class="w3-bar-item w3-container">
                <input class="w3-radio" onclick="submit_form()" id="all-radio" type="radio" name="verified" value="all" {% if fields["verified"] == "" %}checked{% endif %}>
                <label class="w3-margin-right" onclick="document.getElementById('all-radio').checked = true; submit_form()">Wszystkie</label>
            </div>

            <div class="w3-bar-item w3-container">
                <input class="w3-radio" onclick="submit_form()" id="unverified-radio" type="radio" name="verified" value="unverified"{% if fields["verified"] == false %}checked{% endif %}>
                <label class="w3-margin-right" onclick="document.getElementById('unverified-radio').checked = true; submit_form()">Niezweryfikowane</label>
            </div>
        </div>
    </form>
    <hr>
    <span>Znaleziono {{ elements|length }} wyników.</span>
    <br>
    {% if elements|length != 0 %}
        <table class="w3-table-all w3-margin-top w3-hoverable" id="elements_table">
        <tr>
          <th><b>Nazwa</b></th>
          <th><b>Kategoria</b></th>
        </tr>
        {% for element in elements %}
            <tr>
              <td>
                  <a href="{{ url_for('show_report', reportid=element['id']) }}" style="text-decoration: none">{{ element["name"] }}</a>&nbsp;
                  {% if element["verified"] == true %}
                      <div class="w3-tag w3-white w3-border w3-border-green w3-round w3-text-green" style="font-size:12px">Zweryfikowany</div>
                  {% endif %}
              </td>
              <td>{{ element["category"] }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <div class="w3-container w3-center">
            <div class="w3-container">
                <img src="{{ url_for('static', filename='not_found_element_icon.png') }}" alt="" width="160px" height="160px">
            </div>
            <div class="w3-container w3-margin-top">
                <span class="w3-xlarge w3-text-dark-gray" style="letter-spacing:1px">Nie znaleziono</span>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        function submit_form() {
            document.getElementById("search-form").submit();
        }
    </script>

{% endblock %}
