{% extends "base.html" %}
{% block title %}Edytuj zgłoszenie {{ reportdict["name"] }} - {% endblock %}
{% block content %}
    <div class="w3-container">

        <div id="modal" class="modal" style="display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
            <div class="modal-content" style="margin: 15% auto; padding: 30px; border: 1px solid #888888; width: 50%">
                <div style="width: 60%; position: relative; left: 20%; text-align: center">
                    <p style="font-size: 20px">{% if admin == true %}Dodaj{% else %}Zaproponuj{% endif %} nową kategorię</p>
                    <br>
                    <iframe id="suggest_category_iframe" src="{{ url_for('suggest_category', embed='true') }}" style="overflow: hidden" onload="iframeOnload()">Nie można załadować formularza</iframe>
                </div>
            </div>
        </div>

        {% if field_error is defined %}
            {% if field_error == True %}
            <div class="w3-panel w3-leftbar w3-pale-red w3-padding-16">
                <b>Nie wybrałeś kategorii lub nie wypełniłeś któregoś pola.</b>
            </div>
            <br>
            {% endif %}
        {% endif %}

        {% if email_error is defined %}
            {% if email_error == True %}
            <div class="w3-panel w3-leftbar w3-pale-red w3-padding-16">
                <b>Niepoprawny adres e-mail.</b>
            </div>
            <br>
            {% endif %}
        {% endif %}

        {% if profanity_found is defined %}
            {% if profanity_found == True  %}
            <div class="w3-panel w3-leftbar w3-pale-yellow w3-padding-16">
                <img src="{{ url_for('static', filename='profanity_icon.png') }}" alt="Obrazek bluźnierstwa" width="40px" height="40px" style="margin-right: 15px">
                <b>Nie możesz tego zgłosić, bo Twój tekst zawiera wulgarne słowa. Popraw go i wyślij jeszcze raz.</b>
            </div>
            <br>
            {% endif %}
        {% endif %}

        <form action="{{ url_for('edit_report', reportid=reportdict['id']) }}" method="post">

            <select id="selectbox" name="category" class="w3-select w3-light-gray w3-border w3-round" onchange="selectChanged()" required>
                <option value="" disabled>Kategoria</option>
                {% for category in categories %}
                    {% if category == reportdict['category'] %}
                        <option value="{{ category }}" selected>{{ category }}</option>
                    {% else %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endif %}
                {% endfor %}
                <option value="suggest_category" id="suggest_categ">+ {% if admin == true %}Dodaj{% else %}Zaproponuj{% endif %} nową kategorię</option>
            </select><br>

            <br>

            <input class="w3-input w3-light-gray w3-border w3-round" type="text" name="name" placeholder="Nazwa odmóżdżacza" value="{{ reportdict['name'] }}" required><br>
            <textarea class="w3-input w3-light-gray w3-border w3-round" rows="4" name="content" placeholder="Opinia o odmóżdżaczu" id="content-textarea" required></textarea><br>

            <input class="w3-input w3-light-gray w3-border" type="email" name="email" placeholder="Adres e-mail" value="{{ reportdict['email'] }}" required><br>

            <br>

            <input type="submit" class="w3-button w3-large w3-blue w3-hover-blue-grey w3-border w3-border-gray w3-round" style="width: 100px" value="Edytuj"><br>
        </form>

        <script type="text/javascript">
            document.getElementById("content-textarea").value = "{{ reportdict['content'] }}";
    
            var modal = document.getElementById("modal");
            var selectbox = document.getElementById("selectbox");
            var suggest_category_iframe = document.getElementById("suggest_category_iframe");
    
            var last_selectbox_val = "";

            function iframeOnload() {
                var iframe_val = suggest_category_iframe.contentWindow.document.body.innerHTML;
                if (iframe_val == "close") {
                    closeModal();
                    alert("Propozycja dodania nowej kategorii została wysłana.");
                } else if (iframe_val.startsWith("close ")) {
                    closeModal();
                    var category_name = iframe_val.slice(5);
    
                    var suggest_categ = document.getElementById("suggest_categ");
                    var suggest_categ_val = suggest_categ.innerHTML;
                    suggest_categ.remove();
                    selectbox.innerHTML += ('<option value="' + category_name + '" selected>' + category_name + '</option>');
                    selectbox.innerHTML += '<option value="suggest_category" id="suggest_categ">' + suggest_categ_val + '</option>';
                }
            }
    
            function selectChanged() {
                var selected_value = selectbox.options[selectbox.selectedIndex].value;
                if (selected_value == "suggest_category") {
                    openModal();
                } else {
                    last_selectbox_val = selected_value;
                }
            }
    
            function openModal() {
                modal.style.display = "block";
                selectbox.value = last_selectbox_val;
            }
            
            function closeModal() {
                modal.style.display = "none";
                selectbox.value = last_selectbox_val;
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    closeModal();
                }
            }
        </script>
    </div>
{% endblock %}