{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
    <p style="font-size: 22px">
        Odmóżdżacze to nietypowa strona, na której można zgłaszać odmóżdżające gry, bajki, filmy czy aplikacje (możesz też poprosić o dodanie innej kategorii).
        Jeśli jakieś zgłoszenie powtarza się nic nie stoi na przeszkodzie żebyś zgłosił je jeszcze raz - im więcej zgłoszeń jednej rzeczy tym wyższe jej miejsce w rankingu.
        <br><br>
        Jak podaje <a href="https://sjp.pwn.pl/sjp/odmozdzyc-sie;2493313.html">sjp.pwn.pl</a> "odmóżdżyć się" to stracić zdolność logicznego myślenia.
        Jeśli jakaś bajka, film, gra, aplikacja lub coś podobnego według Ciebie odmóżdża swoich użytowników, zgłoś to na tej stronie.
        Jak już coś tu zgłaszasz, pamiętaj żeby podać argumenty, dlaczego coś jest dla ciebie odmóżdżające. Pamiętaj, że ta strona nie jest stworzona do hejtowania zgłaszanych przez użytkowników zasobów ani ich autorów.
        Ma na celu pomóc w unikaniu odmóżdżaczy użytkownikom, którzy chcą dbać o swoje szare komórki :-).<br>
        Usuwane są równierz treści zawierające wulgaryzmy oraz mogące obrażazić innych.
        <br>
        Miłego korzystania!
        <br><br>
        <i style="font-size: 20px">Uwaga! Odmóżdżacze są jeszcze rozwijane, więc to nie jest w 100% stabilna wersja strony. Jeśli chcesz zgłosić problem ze stroną lub propozycję jej rozbudowy, możesz się ze mną <a href="{{ url_for('contact') }}" title="Kontakt">skontaktować</a>.</i>
    </p>
{% endblock %}
