{% extends "base.html" %}
{% block title %}Zaloguj jako administrator - {% endblock %}
{% block content %}

    <header class="w3-container w3-xlarge w3-padding-16">Zaloguj się jako administrator strony</header>

    <br>

    {% if field_error is defined %}
        {% if field_error == True %}
        <div class="w3-panel w3-leftbar w3-pale-red w3-padding-16">
            <b>Nie wypełniłeś któregoś pola.</b>
        </div>
        <br>
        {% endif %}
    {% endif %}

    {% if data_error is defined %}
        {% if data_error == True %}
        <div class="w3-panel w3-leftbar w3-pale-red w3-padding-16">
            <b>Nieprawidłowy login lub hasło.</b>
        </div>
        <br>
        {% endif %}
    {% endif %}

    <form action="{{ url_for('login', redirect=redirect_to) }}" method="post">
        <input class="w3-input w3-light-gray w3-border" type="text" name="login" placeholder="Login" style="width:40%" required><br>
        <input class="w3-input w3-light-gray w3-border" type="password" name="password" placeholder="Hasło" style="width:40%" required><br>
        <br>
        <input type="submit" class="w3-button w3-large w3-blue w3-hover-blue-grey w3-border w3-border-gray w3-round" value="Zaloguj"><br>
    </form>
{% endblock %}