{% extends "base.html" %}

{% block title %}Informacje o zgłoszeniu {{ reportdict['name'] }} - {% endblock %}

{% block content %}

    <div id="modal" class="modal" style="display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
        <div class="modal-content" style="margin: 15% auto; padding: 30px; border: 1px solid #888888; width: 30%">
            <div style="width: 80%; position: relative; left: 10%; text-align: center">
                <p style="font-size: 20px">Jesteś pewien, że chcesz usunąć zgłoszenie?</p>
                <button class="w3-button w3-round w3-border w3-border-dark-gray w3-hover-light-gray" style="width: 80%; margin: 5px" onclick="closeModal()">Anuluj</button>
                <br>
                <a class="w3-button w3-round w3-red w3-text-white w3-hover-pale-red w3-border w3-border-dark-gray" style="width:80%; margin: 5px" href="{{ url_for('delete_report', reportid=reportdict['id']) }}">Usuń</a>
            </div>
        </div>
    </div>

    <header class="w3-container w3-xlarge w3-text-black w3-padding w3-margin-bottom">
        <b>Informacje o zgłoszeniu {{ reportdict['name'] }}&nbsp;</b>
        <a href="{{ url_for('report', category=reportdict['category'], name=reportdict['name']) }}" class="w3-button w3-round w3-large w3-white w3-border w3-border-black w3-text-black w3-hover-white w3-hover-border-dark-gray w3-hover-text-dark-gray">Zgłoś to samo!</a>
    </header>
    <table class="w3-table w3-border" style="width:50%">
        <tr>
            <td style="width: 20%">Status:</td>
            <td>
                {% if reportdict['verified'] == true %}
                    <div class="w3-tag w3-white w3-border w3-border-green w3-round w3-text-green">Zweryfikowany</div>
                {% else %}
                    <div class="w3-tag w3-white w3-border w3-border-amber w3-round w3-text-amber">Niezweryfikowany</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td style="width: 20%">ID:</td>
            <td>{{ reportdict['id'] }}</td>
        </tr>
        <tr>
            <td style="width: 20%">Data zgłoszenia:</td>
            <td>{{ reportdict['inserttime'] }}</td>
        </tr>
        <tr>
            <td style="width: 20%">Data ostatniej edycji:</td>
            <td>{{ reportdict['edittime'] }}</td>
        </tr>
        <tr>
            <td style="width: 20%">Kategoria:</td>
            <td>{{ reportdict['category'] }}</td>
        </tr>
        <tr>
            <td style="width: 20%">Nazwa:</td>
            <td>{{ reportdict['name'] }}</td>
        </tr>
        <tr>
            <td style="width: 20%">Opis:</td>
            <td>{{ reportdict['content'] }}</td>
        </tr>
        <tr>
            <td style="width: 20%">Autor:</td>
            <td>
                {% if admin == true %}
                <a href="mailto:{{ reportdict['email'] }}" title="Napisz maila">{{ reportdict['email'] }}</a>
                {% else %}
                <span><i>Autor ukryty</i></span>
                {% endif %}
            </td>
        </tr>
    </table>
    <br>
    <div class="w3-bar" style="width:50%">
        {% if admin == true %}
            <button onclick="openModal()" title="Usuń zgłoszenie" class="w3-bar-item w3-button w3-padding w3-right">
                <img src="{{ url_for('static', filename='trash_icon.png') }}" alt="Delete report" width="30px" height="30px">
            </button>
            <a href="{{ url_for('edit_report', reportid=reportdict['id']) }}" title="Edytuj zgłoszenie" class="w3-bar-item w3-button w3-padding w3-right">
                <img src="{{ url_for('static', filename='edit_icon.png') }}" alt="Edit report" width="30px">
            </a>
            {% if reportdict["verified"] == true %}
                <a href="{{ url_for('unverify_report', reportid=reportdict['id']) }}" title="Usuń weryfikację zgłoszenia" class="w3-bar-item w3-button w3-padding w3-right">
                    <img src="{{ url_for('static', filename='unverify_icon.png') }}" alt="Unverify report" width="30px">
                </a>
            {% endif %}
            {% if reportdict["verified"] == false %}
                <a href="{{ url_for('verify_report', reportid=reportdict['id']) }}" title="Zatwierdź weryfikację zgłoszenia" class="w3-bar-item w3-button w3-padding w3-right">
                    <img src="{{ url_for('static', filename='verify_icon.png') }}" alt="Verify report" width="30px">
                </a>
            {% endif %}
        {% endif %}
    </div>

    {% if admin == true %}
    <script>
        var modal = document.getElementById("modal");
        function openModal() {
            modal.style.display = "block";
        }
        function closeModal() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                closeModal();
            }
        }
    </script>
    {% endif %}
{% endblock %}
