{% extends "base.html" %}

{% block title %}Informacje o zgłoszeniu {{ reportdict['name'] }} - {% endblock %}

{% block content %}
    <header class="w3-container w3-xlarge w3-text-black w3-padding w3-margin-bottom">
        <b>Informacje o zgłoszeniu {{ reportdict['name'] }}&nbsp;</b>
        <a href="{{ url_for('report', category=reportdict['category'], name=reportdict['name']) }}" class="w3-button w3-round w3-large w3-white w3-border w3-border-black w3-text-black w3-hover-white w3-hover-border-dark-gray w3-hover-text-dark-gray">Zgłoś to samo!</a>
    </header>
    <table class="w3-table w3-border" style="width:50%">
        <tr>
            <td style="width: 20%">Status:</td>
            <td>
                {% if reportdict['verified'] == true %}
                    <div class="w3-tag w3-white w3-border w3-border-green w3-round w3-text-green">Zweryfikowany</div>
                {% else %}
                    <div class="w3-tag w3-white w3-border w3-border-amber w3-round w3-text-amber">Niezweryfikowany</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td style="width: 20%">ID:</td>
            <td>{{ reportdict['id'] }}</td>
        </tr>
        <tr>
            <td style="width: 20%">Data zgłoszenia:</td>
            <td>{{ reportdict['inserttime'] }}</td>
        </tr>
        <tr>
            <td style="width: 20%">Data ostatniej edycji:</td>
            <td>{{ reportdict['edittime'] }}</td>
        </tr>
        <tr>
            <td style="width: 20%">Kategoria:</td>
            <td>{{ reportdict['category'] }}</td>
        </tr>
        <tr>
            <td style="width: 20%">Nazwa:</td>
            <td>{{ reportdict['name'] }}</td>
        </tr>
        <tr>
            <td style="width: 20%">Opis:</td>
            <td>{{ reportdict['content'] }}</td>
        </tr>
        <tr>
            <td style="width: 20%">Autor:</td>
            <td>
                {% if admin == true %}
                <a href="mailto:{{ reportdict['email'] }}" title="Napisz maila">{{ reportdict['email'] }}</a>
                {% else %}
                <span><i>Autor ukryty</i></span>
                {% endif %}
            </td>
        </tr>
    </table>
    <br>
    <div class="w3-bar" style="width:50%">
        {% if admin == true %}
            <a href="{{ url_for('delete_report', reportid=reportdict['id']) }}" title="Usuń zgłoszenie" class="w3-bar-item w3-button w3-padding w3-right">
                <img src="{{ url_for('static', filename='trash_icon.png') }}" alt="Delete report" width="30px" height="30px">
            </a>
            <a href="{{ url_for('edit_report', reportid=reportdict['id']) }}" title="Edytuj zgłoszenie" class="w3-bar-item w3-button w3-padding w3-right">
                <img src="{{ url_for('static', filename='edit_icon.png') }}" alt="Edit report" width="30px">
            </a>
            {% if reportdict["verified"] == true %}
                <a href="{{ url_for('unverify_report', reportid=reportdict['id']) }}" title="Usuń weryfikację zgłoszenia" class="w3-bar-item w3-button w3-padding w3-right">
                    <img src="{{ url_for('static', filename='unverify_icon.png') }}" alt="Unverify report" width="30px">
                </a>
            {% endif %}
            {% if reportdict["verified"] == false %}
                <a href="{{ url_for('verify_report', reportid=reportdict['id']) }}" title="Zatwierdź weryfikację zgłoszenia" class="w3-bar-item w3-button w3-padding w3-right">
                    <img src="{{ url_for('static', filename='verify_icon.png') }}" alt="Verify report" width="30px">
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
