{% extends "base.html" %}

{% block title %} - Informacje o zgłoszeniu {{ reportdict['name'] }}{% endblock %}

{% block content %}
    <header class="w3-container w3-xlarge w3-text-black w3-padding w3-margin-bottom">
        <b>Informacje o zgłoszeniu {{ reportdict['name'] }}&nbsp;</b>
        <a href="{{ url }}/report?category={{ reportdict['category'] }}&name={{ reportdict['name'] }}" class="w3-button w3-round w3-large w3-white w3-border w3-border-black w3-text-black w3-hover-white w3-hover-border-dark-gray w3-hover-text-dark-gray">Zgłoś to samo!</a>
    </header>
    <table class="w3-table w3-border" style="width:50%">
        <tr>
            <td>Status:</td>
            <td>
                {% if reportdict['verified'] == true %}
                    <div class="w3-tag w3-white w3-border w3-border-green w3-round w3-text-green">Zweryfikowany</div>
                {% else %}
                    <div class="w3-tag w3-white w3-border w3-border-amber w3-round w3-text-amber">Niezweryfikowany</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>ID:</td>
            <td>{{ reportdict['id'] }}</td>
        </tr>
        <tr>
            <td>Data zgłoszenia:</td>
            <td>{{ reportdict['datetime'] }}</td>
        </tr>
        <tr>
            <td>Kategoria:</td>
            <td>{{ reportdict['category'] }}</td>
        </tr>
        <tr>
            <td>Nazwa:</td>
            <td>{{ reportdict['name'] }}</td>
        </tr>
        <tr>
            <td>Opinia:</td>
            <td>{{ reportdict['content'] }}</td>
        </tr>
        {% if admin == true %}
        <tr>
            <td>Autor:</td>
            <td><a href="mailto:{{ reportdict['email'] }}" title="Napisz maila">{{ reportdict['email'] }}</a></td>
        </tr>
        {% endif %}
    </table>
    <br>
    <div class="w3-bar" style="width:50%">
        {% if admin == true %}
            <a href="{{ url }}/deletereport/{{ reportdict['id'] }}" class="w3-bar-item w3-button w3-padding w3-right">
                <img src="{{ url }}/images/trash_icon" alt="Delete report" width="30px" height="30px">
            </a>
            <a href="{{ url }}/editreport/{{ reportdict['id'] }}" class="w3-bar-item w3-button w3-padding w3-right">
                <img src="{{ url }}/images/edit_icon" alt="Edit report" width="30px">
            </a>
            {% if reportdict["verified"] == true %}
                <a href="{{ url }}/unverifyreport/{{ reportdict['id'] }}" class="w3-bar-item w3-button w3-padding w3-right">
                    <img src="{{ url }}/images/unverify_icon" alt="Unverify report" width="30px">
                </a>
            {% endif %}
            {% if reportdict["verified"] == false %}
                <a href="{{ url }}/verifyreport/{{ reportdict['id'] }}" class="w3-bar-item w3-button w3-padding w3-right">
                    <img src="{{ url }}/images/verify_icon" alt="Verify report" width="30px">
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
