{% extends "base.html" %}

{% block title %}Kontakt - {% endblock %}

{% block content %}
    {% if admin == true %}
        <div style="text-align: center; font-size: 20px">
            <a href="https://docs.google.com/forms/d/1ELHR-ra1VCkDfazG-DjFA9bq0zOQhEIAacJtOJmsz-s/edit?usp=sharing" title="Edytuj formularz na Google Forms" target="_blank">Edytuj formularz</a>
        </div>
        <br>
    {% endif %}
    <div class="w3-container w3-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSclAWhzF7YhCIZqWfmHAMA1Y-f6VHzqV2qb75RPhDT4m2ubVQ/viewform?embedded=true" width="640" height="1050" frameborder="0" marginheight="0" marginwidth="0">Ładuję…</iframe>
    </div>
{% endblock %}
